body {
   width: 950px;
   border: 10px solid yellow;
   font-size: 1.2em;
   margin: 0;
   padding: 0;
   padding-left: 10px;
   padding-right: 10px;
}
div.header, div.footer {
   width: 100%;
   padding: 0;
   margin: 0;
   clear: both;
   font-size: 0.8em;
   min-height: 10px;
}
div.header .login-info {
   float: right;
}
div.footer {
   text-align: center;
}
div.content {
   min-height: 90%;
}
.error {
   font-size: smaller;
   color: red;
}
table span.tablesorthack {
   display: none;
}
.list-panel {
   border: 1px solid #ccc;
   margin: 10px;
   padding: 10px;
   width: 90%;
}
.panel {
   border: 1px solid #ccc;
   margin: 10px;
   padding: 10px;
}
table.tablesorter thead th.header {
   padding-right: 20px;
}
table.tablesorter {
   font-size: 0.8em;
}
.ui-button {
   margin: 10px;
}
input {
   font: inherit;
}
