<html>
  <head>
    <title>Solar Permitting: nonportal (latrop) skeleton</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/sunny/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/tablesorter.blue/style.css" type="text/css" />
    <link rel="stylesheet" href="/static/permit.css" type="text/css" />
    {% block style %}
    {% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js">
    </script>
    <script src="/static/jquery.tablesorter.min.js">
    </script>
    {% block script %}
    {% endblock %}
  </head>
  <body>
    <div class="body-border">
    <div class="body-border">
    <div class="body-border">
    <div class="header">
      <a href="/">Home</a>
      {% block breadcrumb %}
      {% endblock %}
      <div class="app-name">
      Solar Permitting: nonportal (latrop) skeleton
      </div>
    </div>
    <div class="title">
      <div class="title-text">
      {% block title %}
      title
      {% endblock %}
      </div>
    </div>
    <div class="content">
    {% block content %}
    Oops!! need to override content block in base template.
    {% endblock %}
    </div>
    <div class="footer">
      Solar Permitting Demo
      <span class="copyright">
	&copy; Copyright 2011 Google, Inc.
      </span>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
