{% extends "base.html" %}
{% block script %}
<script>
  $(function() {
    $('.button').button();
    $('table.tablesorter').tablesorter({
      headers: {
        4: {sorter: 'text'},
        5: {sorter: false}
      },
      sortList: [[4, 1]]
    });
  });
</script>
{% endblock %}

{% block content %}
<h1>Welcome to Solar Permitting for {{ main.jurisdiction|e }}</h1>

<p>
  As an Applicant, you can Start new cases, Submit a case for
  approval, comment and resubmit as necesary until your case is
  eventually approved by {{ main.jurisdiction|e }}.
</p>

<div id="start-new-case">
  <a href="/case/create" id="start-new-case-button" class="button">
    Start a new Case
  </a>
</div>

<div id="cases-in-progress" class="list-panel">
  You have {{ cases|length }} case{% if cases|length - 1 %}s{% endif %}.

  {% if cases %}
  <table class="tablesorter" id="cases">
    <thead>
      <tr>
	<th>
	  Case Name
	</th>
	<th>
	  Creation Date
	</th>
	<th>
	  Status
	</th>
	<th>
	  Latest Action
	</th>
	<th>
	  Latest Action Time
	</th>
	<th>
	</th>
      </tr>
    </thead>
    <tbody>
      {% for case in cases %}
      <tr>
	<td>
	  {{ case.address|e }}
	</td>
	<td>
	  {{ case.creation_date|e }}
	</td>
	<td>
	  {{ case.visible_state|e }}
	</td>
	<td>
	  {{ case.latest_action.action|e }}
	</td>
	<td>
	  <span class="tablesorthack">
	    {{ case.latest_action.timestamp.isoformat()|e }}
	  </span>
	  {% if case.last_modified.days == 0 %}
	  {% if case.last_modified.seconds < 7200 %}
	  {{ case.last_modified.seconds // 60 }} minutes ago
	  {% else %}
	  {{ case.last_modified.seconds // 3600 }} hours ago
	  {% endif %}
	  {% elif case.last_modified.days == 1 %}
	  {{ case.last_modified.days|e }} one day ago
	  {% else %}
	  {{ case.last_modified.days|e }} days ago
	  {% endif %}
	</td>
	<td>
	  <a href="#TODO" class="button">Details</a>
	</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
