{% extends "base.html" %}
{% block style %}
<style>
div.case-detail {
  border: 1px solid #ccc;
  margin-right: 300px;
}
div#action-history {
  border: 1px solid #ccc;
  width: 260px;
  float: right;
}
div.action {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
div.action span.timestamp {
  float: right;
}
.panel-title {
  font-weight: bold;
}
a.action {
  float: right;
}
</style>
{% endblock %}
{% block script %}
<script>
  $(function() {
    $('.button').button();
    $('table.tablesorter').tablesorter({
      headers: {
        4: {sorter: 'text'},
        5: {sorter: false}
      },
      sortList: [[4, 1]]
    });
  });
</script>
{% endblock %}

{% block content %}
<h1>Details for Case: {{ case.address|e }}</h1>

<div>
  <a href="/applicant/home" class="button">
    Back
  </a>
</div>

<div id="action-history" class="panel">
  <div class="panel-title">Activity Log</div>
  {% for action in actions %}
  <div class="action">
    <span class="timestamp">
      {{ action.timestamp.strftime('%d %b %Y') }}
    </span>
    {{ action.action }}
    <br/>
    {{ action.actor.email }}
    {% if action.notes %}
    <br/>
    {{ action.notes }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="case-detail panel">
  <div>
    {{ case.address|e }}
  </div>
  <div>
    Created: {{ case.creation_date|e }}
  </div>
  <div>
    Status: {{ case.visible_state|e }}
  </div>
  <div>
    TODO: more info about the case
  </div>
</div>

<div class="case-detail panel">
  <div class="panel-title">Documents</div>
  <a href="#TODO" class="action button">
    Add a new document.
  </a>
  <p>
    Use this area to attach documents and add notes.
  </p>
</div>

<div class="case-detail panel">
  <div class="panel-title">Approval</div>
  <a href="#TODO" class="action button">
    Submit for approval
  </a>
  <p>
    When this case is up to date and all documentation is complete, you can
    submit the case for approval.
  </p>
</div>

<div>
  <a href="/applicant/home" class="button">
    Back
  </a>
</div>

{% endblock %}
