{% extends "base.html" %}
{% block breadcrumb %}
<a href="/applicant/home">Home</a>
{% endblock %}
{% block style %}
<style>
div.case-detail {
  border: 1px solid #ccc;
  margin-right: 300px;
}
div#action-history {
  border: 1px solid #ccc;
  width: 260px;
  float: right;
  margin-top: 0;
}
div.action {
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
div.action span.timestamp {
  float: right;
}
.panel-title {
  font-weight: bold;
}
.action-form {
  float: right;
}
.action-form textarea,
.action-form div,
.action-form input {
  margin: 10px;
  float: right;
}
.action-form div {
  margin-bottom: 0;
}

.action-instruction {
  margin-right: 300px;
}
</style>
{% endblock %}
{% block script %}
<script>
  $(function() {
    $('.button').button();
    $('table.tablesorter').tablesorter({
      headers: {
        4: {sorter: 'text'},
        5: {sorter: false}
      },
      sortList: [[4, 1]]
    });
  });
</script>
{% endblock %}

{% block content %}
<div>
  <h1>Details for Case: {{ case.address|e }}</h1>
</div>


<div id="action-history" class="panel">
  <div class="panel-title">Activity Log</div>
  {% for action in actions %}
  <div class="action">
    <span class="timestamp">
      {{ action.timestamp.strftime('%d %b %Y') }}
    </span>
    {{ action.action }}
    <br/>
    {{ action.actor.email }}
    {% if action.notes %}
    <br/>
    {{ action.notes }}
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="case-detail panel">
  <div>
    {{ case.address|e }}
  </div>
  <div>
    Created: {{ case.creation_date|e }}
  </div>
  <div>
    Status: {{ case.visible_state|e }}
  </div>
  <div>
    TODO: more info about the case
  </div>
</div>

<div class="case-detail panel">
  <div class="panel-title">Documents</div>
  <a href="#TODO" class="action-form button">
    Add a new document.
  </a>
  <p>
    Use this area to attach documents and add notes.
  </p>
</div>

{% if case.visible_state != 'Submitted' %}
<div class="case-detail panel">
  <div class="panel-title">Approval</div>
  <form class="action-form"
	action="/case/submit/{{ case.key().id() }}" method="POST">
    <div>Notes for approver (optional)</div>
    <br/>
    <textarea id="notes" cols=33 rows=4></textarea>
    <br/>
    <input type="submit" class="action button" value="Submit for approval">
  </form>
  <p class="action-instruction">
    When this case is up to date and all documentation is complete, you can
    submit the case for approval.
  </p>
  <div style="clear: both"></div>
</div>
{% endif %}

<div>
  <a href="/applicant/home" class="button">
    Home
  </a>
</div>

{% endblock %}
