<html>
  <head>
    <title>Solar Permitting for {{ jurisdiction|e }}</title>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/sunny/jquery-ui.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js">
    </script>
    <script>
      $(function() {
        $('#login-button').button()
        $('#logout-button').button()
      });
    </script>
    <style>
      body {
      width: 950px;
      border: 5px solid yellow;
      }
      .login-box {
      float: right;
      background-color: #99c;
      min-height: 150px;
      width: 300px;
      border: 2px solid blue;
      text-align: center;
      vertical-align: middle;
      margin: 10px;
      padding: 20px;
      font-size: 20px;
      }
      .login-button {
      margin: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Solar Permitting for {{ jurisdiction|e }}</h1>

    {% if user %}
    <div class="login-box" id="login-complete">
      <p>
	You are logged in as {{ user|e }}
      </p>
      <p>
	<a id="logout-button" href="?logout=1">Logout</a>
    </div>
    {% else %}
    <div class="login-box" id="login-form">
      Sign in with your
      <br/>
      <strong>Email Address:</strong>
      <form id="login-form">
	<input name="email" type="text" size="30" />
	<input type="submit" id="login-button" value="Continue" />
      </form>
    </div>
    {% endif %}
  </body>
</html>
